	<mat-toolbar  class="topBar">

				<button mat-icon-button [routerLink]="['/quizmulti']">
            <mat-icon>arrow_back_ios_new</mat-icon>
          </button>

			<div fxFlex> </div>
			<div  fxFlex id="thename">
				HSC IPT STUDY RESOURCE
			</div>
			<div fxFlex > </div>
			<div fxHide.xs >
			</div>
		</mat-toolbar>
<body>

<iframe src="https://quizlet.com/600521181/flashcards/embed?i=y3gnl&x=1jj1" height="500" width="100%" style="border:0"></iframe>
  
  </body>



	<mat-toolbar  class="footer">
			<div class="footerMenu">
				Multimedia - Quizlet Flash Cards
			</div>
		</mat-toolbar>