
.box {
    padding: 10px;
    margin:2px;
    width:50%;
    vertical-align: middle;

}

a:link {
  color: coral;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

body {
text-align:justify;
display:flex;
justify-content:space-evenly;
flex-wrap:wrap;

/*border:1px solid black;*/
height:80vh;
width:97vw;
padding-top:60px;

}
.smallbutton {

height: 11.25vh;
width:40vw;
font-size:5vmin;
line-height: 5vh;
white-space:normal !important;
word-wrap:break-word;
border-radius:2vmin
}

.widebutton {
height: 11.25vh;
width:85vw;
font-size:5vmin;
border-radius:2vmin
}

.bodycard {
  width:85vw;
  border-radius:2vmin
}
.tableimg {
  width:40vmin;
  height:40vmin;
}

.whitespace {
  padding-top:40px;
}
.outercard {
  padding-bottom:60px;
  background-color:#303030;
}
.gif {
  max-width:8
}