	<mat-toolbar  class="topBar">

				<button mat-icon-button (click)="previouspage()">
            <mat-icon>arrow_back_ios_new</mat-icon>
          </button>

			<div fxFlex> </div>
			<div  fxFlex id="thename">
				HSC IPT STUDY RESOURCE
			</div>
			<div fxFlex > </div>
			<div fxHide.xs >
			</div>
		</mat-toolbar>
<body>
	Each of these buttons links to a NESA HSC Past Paper, and its marking guidelines and sample answers, if available. No content is hosted on this site and is instead accessed from the NESA site through the use of iframes due to copyright. https://educationstandards.nsw.edu.au/wps/portal/nesa/mini-footer/copyright 
	<div class="buttons">
		<br>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',20]" > 2020</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',19]" > 2019</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',18]" > 2018</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',17]" > 2017</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',16]" > 2016</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',15]" > 2015</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',14]" > 2014</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',13]" > 2013</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',12]" > 2012</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',11]" > 2011</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',10]" > 2010</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',9]" > 2009</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',8]" > 2008</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',7]" > 2007</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',6]" > 2006</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',5]" > 2005</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',4]" > 2004</button>
<button  mat-raised-button class=smallbutton [routerLink]="['/hscchoice',3]" > 2003</button></div>
  
  </body>



	<mat-toolbar  class="footer">
			<div class="footerMenu">
				HSC Past Papers
			</div>
		</mat-toolbar>