	<mat-toolbar  class="topBar">

				<button mat-icon-button disabled>

          </button>

			<div fxFlex> </div>
			<div  fxFlex id="thename">
				HSC IPT STUDY RESOURCE
			</div>
			<div fxFlex > </div>
			<div fxHide.xs >
			</div>
		</mat-toolbar>
<body>
<img src="https://i.imgur.com/8XXvPEU.png" class="logo">	
<button mat-raised-button class="widebutton" [routerLink]="['/multimediahome']">Multimedia Systems</button>
<button mat-raised-button class="widebutton" [routerLink]="['/tpshome']" >Transaction Processing Systems</button>
<button mat-raised-button class="smallbutton" [routerLink]="['/hschome']">Past HSC Papers</button>
<button mat-raised-button class="smallbutton" [routerLink]="['/trialhome']">Past Trial Papers</button>


  </body>



	<mat-toolbar  class="footer">
			<div class="footerMenu">
				Home
			</div>
		</mat-toolbar>